@model IEnumerable<Product>
@{
    Layout = null;
}

@{

    var runningTotal = 0.0;
    var sumQuantity = 0;
    @foreach (var item in Model)
    {
        runningTotal += item.Price * item.Quantity;
        sumQuantity += item.Quantity;
    }
}
<section class="h-100 h-custom w" style="background-color: #eee;">
    <div class="container py-2 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">

                        <div class="row">

                            <div class="col-lg-7">
                                <h5 class="mb-3">
                                    <a href="#" onclick="window.location.reload()" class="text-body">
                                        <i class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping
                                    </a>
                                </h5>
                                <hr>

                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div>
                                        <p class="mb-1">Shopping cart</p>
                                        <p class="mb-0">You have @sumQuantity items in your cart</p>
                                    </div>

                                </div>
                                @foreach (var product in Model)
                                {
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-row align-items-center">
                                                    <div>
                                                        <img src="data:image/png;base64,@product.Img"
                                                         class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                    </div>
                                                    <div class="ms-3">
                                                        <h6>@product.Name</h6>
                                                        <p class="small mb-0">@product.Description</p>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-row align-items-center">
                                                    <div style="width: 50px;">
                                                        <h6 class="fw-normal text-center  mb-0">@product.Quantity</h6>
                                                    </div>
                                                    <div style="width: 80px;">
                                                        <h6 class="mb-0 text-center ">R @product.Price</h6>
                                                    </div>
                                                    <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="col-lg-5">
                            
                                <div class="card bg-primary text-white rounded-3">
                                    <div class="card-body">

                                        <div class="d-flex justify-content-between">
                                            <p class="mb-2">Subtotal</p>
                                            <p class="mb-2">R @runningTotal</p>
                                        </div>
                                        <button type="button" class="btn btn-info btn-block btn-lg" onclick="CheckOut()">
                                            <div class="d-flex justify-content-between">
                                                <span>R @runningTotal </span>
                                                <span>Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                                            </div>
                                        </button>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>